[submodule "memdebug.h"]
	path = memdebug.h
	url = https://github.com/apaz-cli/memdebug.h.git
[submodule "tests/threadpool.h"]
	path = tests/threadpool.h
	url = https://github.com/apaz-cli/threadpool.h
